# Jupyter notebook artifacts
.ipynb_checkpoints/

# Airflow runtime files
airflow/logs/
airflow/output/
airflow/airflow.db

# Ignore Airflow plugins and config if unused
airflow/plugins/
airflow/config/

# Ignore environment variables and local DB
.env
*.env
etl_pipeline.db

# Ignore outputs and cleaned data (generated)
cleaned/
output_summary/

# Python cache
__pycache__/
*.pyc
*.pyo

# System files
.DS_Store

# Docker artifacts
*.pid

# visual env
venv/
